<!-- <app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-2">
      <div>
        <input
          class="input-size"
          type="text"
          placeholder="Product Name"
          [(ngModel)]="productName"
          (ngModelChange)="filterProducts()"
        />
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<ng-container *ngIf="filteredProducts.length>0
  else noProducts" class="container">
  <table class="table table-hover table-striped table-borderless">
    <thead>
      <tr class="table-primary">
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Department</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let balance of balanceUI | productName: productName
        "
        (click)="openProductModal(balance)"
      >
        <th scope="row">{{ balance.product.id }}</th>
        <td>{{ balance.product.name }}</td>
        <td>{{ balance.product.department.name }}</td>
        <td>{{ balance.quantity }}</td>
      </tr>
    </tbody>
  </table>

  <div role="alert" #error_message></div>
</ng-container>
<ng-template #noProducts>
  <tr style="color:black">No product found</tr>
</ng-template> -->
<app-navbar></app-navbar>
<div class="content" role="main">
  <mat-form-field>
    <mat-label style="color: red; width: 75%">Filter</mat-label>
    <input matInput placeholder="filter" (keyup)="Filterchange($event)"
  /></mat-form-field>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Product Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.productName }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="departmentName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">
        {{ element.departmentName }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
