/* .input-size{
  width:130px;
}

.container{
  margin:20px;
  margin-left: 170px;
  margin-top: 80px;
}

.modal{
  background-color: rgb(255, 0, 0);opacity:0.2;
} */

table {
  width: 80%;
  margin-left: 170px;
  margin-top: 80px;

}


.mat-paginator{
  width: 80%;
  margin-left: 170px;

}
.mat-form-field{
  margin-left: 170px;
  margin-top: 50px;
}
