<div class="container">
  <div class="row justify-content-around">
    <div class="col-2">
      <div>
        <input
          class="input-size"
          type="text"
          placeholder="Product Name"
          [(ngModel)]="productName"
          (ngModelChange)="filterProducts()"
        />
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<ng-container
  *ngIf="filteredProducts.length > 0; else noProducts"
  class="container"
>
  <table class="table table-hover table-striped table-borderless">
    <thead>
      <tr class="table-primary">
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Department</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let balance of balanceUI | productName: productName"
        (click)="openProductModal(balance)"
      >
        <th scope="row">{{ balance.product.id }}</th>
        <td>{{ balance.product.name }}</td>
        <td>{{ balance.product.department.name }}</td>
        <td>{{ balance.quantity }}</td>
      </tr>
    </tbody>
  </table>

  <div role="alert" #error_message></div>
</ng-container>
<ng-template #noProducts>
  <tr style="color: black">
    No product found
  </tr>
</ng-template>
