<div id="product-modal">
  <h2 id="product-name" *ngIf="product">{{ product.name }}</h2>
  <ng-container *ngIf="locationList.length > 0; else noLocations">
    <table class="table table-hover table-striped table-borderless">
      <thead>
        <tr class="table-primary">
          <th scope="col">Location Id</th>
          <th scope="col">Location Name</th>
          <th scope="col">Zipcode</th>
          <th scope="col">Quantity</th>
          <th *ngIf="zipcode" scope="col">Distance</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let locationQuantity of locationList | locationByDistance: zipcode
          "
        >
          <th scope="row">{{ locationQuantity.location.id }}</th>
          <td>{{ locationQuantity.location.name }}</td>
          <td>{{ locationQuantity.location.zipcode }}</td>
          <td>{{ locationQuantity.quantity }}</td>
          <td *ngIf="zipcode">{{ locationQuantity.location.distance }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noLocations>
    <tr style="color: black">
      No location found
    </tr>
  </ng-template>
</div>
