<div>
  <form (ngSubmit)="onSearchNearByLoction()" [formGroup]="locationForm">
    <input
      class="input-size"
      type="text"
      placeholder="Zipcode/Postal Code"
      formControlName="zipcode"
    />

    <input
      class="input-size"
      type="text"
      placeholder="Country"
      formControlName="country"
    />

    <input
      class="input-size"
      type="number"
      placeholder="radius"
      formControlName="radius"
    />
    <button type="submit">Find Nearby Locations</button>
  </form>
</div>
